.header {
    height: 120px;
    background-image: linear-gradient(red, rgb(243, 89, 96));


}

.header__nav__list {
    list-style: none;
    padding-left: 0;
}

.header__nav {
    display: flex;
    justify-content: space-between;

}

.header__nav__item {
    position: relative;
    margin: 0 8px;

}

.header__nav__item,
.header__nav__item__link {
    display: inline-block;
    font-size: 1rem;
    color: var(--white-color);
    text-decoration: none;


}

.header__nav__item__strong {
    font-weight: 700;
}

.header__nav__item__gạch::after {
    content: "";
    position: absolute;
    border-left: 1px solid black;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);


}